* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #272b33;
  width: 100%;
  height: 60px;
  padding: 10px;
  box-shadow: 0px 5px 20px #000;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 999;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}

.social-icons a {
  font-size: 25px;
  margin-right: 15px;
}

.btn-header {
    width: 120px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn-header:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn-header:active {
  color: #000
}

.btn-header:active:after {
  background: transparent;
}

.btn-header:hover:before {
  opacity: 1;
}

.btn-header:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.navbar {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamb-logo {
  opacity: 0;
}

.hamburguer {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-image: url('./images/logo2.svg');
  background-size: 500%;
  background-position: center;
  border-radius: 5px;
  border: 0;
  position: relative;
  cursor: pointer;
  display: none;
  transition: 0.3s;
}

.hamburguer::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 15%;
  width: 70%;
  height: 5%;
}

.hamburguer::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 15%;
  width: 70%;
  height: 5%;
}

.hamburguer:hover {
  transform: rotateX(180deg);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: 60px;
  background-color: #272b33;
  border-radius: 2px;
  box-shadow: 0px 5px 20px #000;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  bottom: 0;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.menu li {
  display: block;
  margin-left: 10px;
  padding: 10px 20px 10px 20px;
  border-color: 2px solid #fff;
}

ul {
  list-style: none;
}

.home-father h1 {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 50px;
}

.section-container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.section-container img {
  width: 50%;
  border-radius: 20px;
  margin-bottom: 40px;
  margin-left: 35%;
}

.section-container div {
  flex: 1 1 450px;
  margin: 10px;
}

.main-container {
  border: 0px solid white;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "sidenav know-item know-item"
  "sidenav know-item know-item"
  "sidenav know-item know-item";
  grid-gap: 20px;
  padding: 0px 20px 0px 20px;
  justify-content: center;
}

.main-container img {
  width: 100%;
  border-radius: 20px;
}

.sidenav {
  width: 300px;
  height: 100%;
  /* background-color: #272b33; */
  background-image: url('./images/bulb.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 95%;
  border-radius: 20px;
  grid-area: 'sidenav';
  grid-row: sidenav;
  text-align: center;
}

.sidenav img {
  width: 250px;
  margin-top: 10px;
  transform: rotate(-90deg);
  margin-top: 20px;
}

.sidenav h3 {
  margin-top: 40px;
  font-size: 25px;
}

.know-item {
  width: 300px;
  height: 300px;
  background-color: #272b33;
  border-radius: 20px;
  grid-area: 'know-item';
  max-width: 300px;
  min-width: 250px;
}

.redirect-project {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.redirect-project h2 {
  margin-top: 20px;
}

.redirect-project h2 a {
  font-size: 30px;
}

.trybe {
  color: rgb(47, 193, 140);
}

.main-container-proj {
  border: 0px solid white;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "p-item i-item"
  "p-item i-item"
  "p-item i-item"
  "p-item i-item";
  grid-gap: 20px;
  padding: 0px 20px 0px 20px;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 120px;
}

.p-item img {
  width: 70%;
  height: 70%;
  border-radius: 2px;
}

.i-item h2 {
  font-size: 14px;
}

.git-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 20px;
  text-align:center
}

.contact-container {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-direction: column;
  text-align: center;
}

.contact-container h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inpt1 input {
  width: 300px;
  height: 30px;
  color:rgb(26, 28, 43);
}

.inpt1 textarea {
  width: 300px;
  height: 150px;
  color:rgb(26, 28, 43);
}

.divSocialContact a {
  font-size: 50px;
  margin: 10px;
}

.contact-form h2 {
  margin-top: 70px;
}

@media (max-width: 820px) {
  .sidenav img {
    width: 250px;
    margin-top: 10px;
    transform: rotate(0deg);
  }
  
  .hamburguer {
    display: block;
    z-index: 999;
  }
  
  .hamb-logo {
    opacity: 1;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    background-color: #222;
    margin: 0;
    flex-direction:column;
    padding: 100px 20px;
    width: 100%;
    max-width: 200px;
    transition: 0.6s ease;
  }

  .menu.active {
    left: 0;
  }

  .main-container {

    grid-template-areas: 
    "sidenav know-item"
    "sidenav know-item"
    "sidenav know-item"
    "sidenav know-item"
    "sidenav know-item"
    "sidenav know-item";
    grid-gap: 20px;
  }
}

@media (max-width: 520px) {
  .sidenav {
    height: 300px;
  }
  
  .main-container {

    grid-template-areas: 
    "sidenav"
    "know-item"
    "know-item"
    "know-item"
    "know-item"
    "know-item";
    grid-gap: 20px;
  }
}